.links {
    color: blueviolet;
    background: aqua;
    font-family: monospace;
}


h1 {
    color: brown;
}

body {
    background-color: Aqua;
}

#web-contato {
    color: rgb(75, 107, 11);
}


.tabela1 {
    border-style: solid;
}

th {
    color: rgb(162, 0, 255);
    background-color: gold;
    border-style: solid;
}

td {

    border-style: solid;
}